<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
		<meta charset="utf-8"/>
<style type="text/css">
			body {

				background-color: #777;
				color: #faf600;
				padding:20px;
				font-family: Arial, Verdana, sans-serif;
				margin: 0 auto;
				border: 2px solid #448000;
				width: 960px;
				}
			
			div {
				background-color: #777;
				border-radius:25px;
				Padding: 10px;
				
				}
				
			.page {
				margin: 0 auto;
				width: 50%;
				
				}
				
			.text {
				background-color: hsla(93, 97%, 31%, 0.5);
				border: 2px solid #0017ad;
				}
			
			h1 {
				background-color: #448000;
				color: #faf600;
				text-align: center;
				padding: inherit;
				font-family: 'Tangerine', serif;
				font-size: 70px;
				text-shadow: 4px 4px 4px #aaa;
				border:2px solid;
				border-radius:25px;
				border-color: #faf600;
				box-shadow: inset 5px 5px 20px #777777;
				}
			
			h2 {
				background-color: #0017ad;
				padding: inherit;
				color: #faf600;
				text-shadow: 2px 2px 2px #000000;
				border:2px solid;
				border-radius:25px;
				border-color: #faf600;
				width: 300px;
				box-shadow: 5px 5px #2e3bef;
				}
				
			h3 {
				background-color: #359216;
				color: #faf600;
				padding: inherit;
				border:2px solid;
				text-shadow: 2px 2px 2px #000000;
				border-radius:25px;
				border-color: #faf600;
				width: 100px;
				height: 20px;
				box-shadow: 5px 5px #4e8a00;
				}
				
			ul {
				width: 570px;
				padding: 15px;
				list-style-type:square;;
				margin: 0px auto;
				font-size: 15px;
				border-top: 2px solid #000;
				border-bottom: 1px solid #000;
				text-align: center;
				line-height: 1.4em;
				list-style-type: disc;
				}
				
			ul.a {
				list-style-type: disc;
				}
				
			li {
				display: inline;
				margin: 0px 3px;
				}
				
			p {
				color: #1a371a;  /*-----font color----*/
				text-align: inherit;
				width: 400px;
				float: left;
				margin: 5px;
				padding: 5px;
				line-height: 1.4em;
				border-color: #faf600;
				}
				
			p.intro {
				font-style: italic;
				text-indent: 50px;
				border-radius:10px;
				border-color: #faf600;
				text-align: center;
				}
				
			p.initial:first-letter {
				font-size: 1em;
				font-weight: bold;
				border-color: #faf600;
				}
				
				
			img.align {
				float: right;
				width: 320px;
				margin: 0px auto;
				}
				
			figcaption {
				color: #1a371a;  /*-----font color----*/
				text-align: inherit;
				padding: inherit;
				line-height: 1.4em;
				text-align: center
				}
				
				
	/*---------links---------*/
	
			a:link {
				color: #002470;
				}
				
			a:visited {
				color: #000;
				}
				
			a:hover {
				color: #03ce1e;
				}
				
			a:active {
				color: #fcfc2c;
				}
					
				
</style>