
			body {

				background-color: hsla(58, 68%, 60%, 1);
				background-image: url("../images/bg.jpg");
				background-position: center;
				background-repeat: repeat;
				background-size: cover; 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				color: #faf600;
				padding:20px;
				font-family: Arial, Verdana, sans-serif;
				margin: 0 auto;
				
				width: 1060px;
				}
			
			#page {
				Background-color: #fff;
				background-position: center;
				background-size: cover; 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				padding: 20px;
				border:2px solid;
				border-radius:25px;
				border-color: #faf600;
				width: 1060px;
				margin: 0px;
				clear: both;
				overflow: auto;
				}
					
			.content {
				Background-color: #fff;
				width: 600px;
				margin: 0 5px;
				clear: both;
				}
				
			#header {
				width: 960px;
				margin: 0 auto;
				}
			
			#content2of3 {
				float: left;
				width: 600px;
				margin: 5px;
				}
				
			#content3of3 {
				float: right;
				width: 300px;
				margin: 5px;
				}
				
			.info {
				float: left;
				clear: right;
				}
				
			h1 {
				background-color: #448000;
				color: #faf600;
				text-align: center;
				padding: inherit;
				font-family: 'Audiowide', cursive;
				font-size: 70px;
				text-shadow: 4px 2px 4px #fff;
				border:2px solid;
				border-radius:25px;
				border-color: #faf600;
				box-shadow: inset 5px 5px 20px #777777;
				}
			
			h2 {
				background-color: #0017ad;
				padding: 10px;
				color: #faf600;
				text-shadow: 2px 2px 2px #000000;
				border:2px solid;
				border-radius:25px;
				border-color: #faf600;
				width: 300px;
				margin: 10px 0px 0px 50px;
				box-shadow: 5px 5px #2e3bef;
				clear: both;
				}
				
			h3 {
				background-color: #359216;
				color: #faf600;
				padding: 5px;;
				border:2px solid;
				text-shadow: 2px 2px 2px #000000;
				border-radius:25px;
				border-color: #faf600;
				width: 100px;
				height: 20px;
				text-align: center;
				box-shadow: 5px 5px #4e8a00;
				float: right;
				margin: -15px 70px 10px 10px;
				clear: left;
				}
				
			nav {
				width: 100%;
				float: left;
				margin: 0 0 1em 0;
				padding: 0;
				background-color: #8cbc7b;
				border-bottom: 1px solid #ccc;  
				border-radius:25px;}
			nav ul {
				list-style: none;
				width: 605px;
				margin: 0 auto;
				padding: 0; }
				}
				
			nav ul.a {
				display:block;
				width:1040px;
				background-color:#568844;
				margin: 5px 3px;
				text-align: center;
					}
				
			nav li {
				float: left;
				display: block;
				padding: 8px 15px;
				text-decoration: none;
				font-weight: bold;
				color: #069;
				border-right: 1px solid #ccc;
				position:static;}
				
			p {
				color: #1a371a;  /*-----font color----*/
				text-align: justify;
				text-indent: 20px;
				padding: 10px;
				line-height: 1.4em;
				border-color: #faf600;
				width: 600px;
				margin: 10px 10px 10px 5px;
				display: block;
				clear: both;
				
				}
				
			blockquote {
				font-style: italic;
				text-indent: 50px;
				text-align: center;
				color: #448000;
				}
				
			p.initial:first-letter {
				font-size: 150%;
				font-weight: bold;
				border-color: #faf600;
				}
			
			table {
				color: #000a7a;
				width: 600px;
				border: 2px solid #000000;}
			th, td {
				padding: 7px 10px 10px 10px;
				border-collapse: collapse;}
			th {
				background-color: #0017ad;
				color: #faf600;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				font-size: 90%;
				border-bottom: 2px solid #111111;
				border-top: 2px solid #999;
				text-align: center;
				}
			tr.header {
				background-color: #3aad00;
				}
				
			tr.even {
				background-color: #f8ffad;}
			tr:hover {
				background-color: #c3e6e5;}
				
			
			.gallery {
				float: right;
				
				/* fallback color */
				background-color: #3aad00; 
				/* fallback image */
				background-image: url("images/gradient.jpg");
				/* Firefox 3.6+ */
				background-image: -moz-linear-gradient(#005cad, #3aad00);
				/* Safari 4+, Chrome 1+ */
				background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#005cad), to(#3aad00));
				/* Safari 5.1+, Chrome 10+ */
				background-image: -webkit-linear-gradient(#005cad, #3aad00); 
				/* Opera 11.10+ */
				background-image: -o-linear-gradient(#005cad, #3aad00);
				background-repeat: no-repeat;
				background-position: center;
				padding: 30px;
				border:2px solid;
				border-radius:25px;
				border-color: #faf600;
				width: 250px;
				height: 1160px;
				margin: 5px 5px;
				top: 305px;
				right: 10px;
				clear: left;
				}
			
			.article {
				width: 220px;
				margin: 5px 5px 5px 5px;
				overflow: initial;
			
				}
				
			figure {
				display: block;
				width: 202px;
				margin: 2px;
				padding: 9px;
				text-align: center;
				clear: both;
				}
			
			figure img {
				width: 200px;
				height: 150px;
				border: 3px solid #d6d6d6;
				margin: 0 5px 0px 5px;
				}
			
			figcaption {
				padding-left: 20px;
				margin: 2px;
				color: #fff;
				}
				
					/*---------forms---------*/
			input:focus {
				background-color: #d2ffc2;
				}
						
			.form {
				color: #000a7a;
				margin: 5px;
				width: 600px;
				display: block;
				}
			.title {
				float: left;
				width: 200px;
				display: block;
				text-align: right;
				margin: auto 0 auto 50px;
				padding-right: 10px;}
			.radio-buttons {
				color: #000a7a;
				}
			.input {
    			border: 1px solid #006;
    			background: #ffc;
					}
			.button {
   				border: 1px solid #006;
    			/* fallback color */
				background-color: #3aad00; 
				/* fallback image */
				background-image: url("images/gradient.jpg");
				/* Firefox 3.6+ */
				background-image: -moz-linear-gradient(#005cad, #3aad00);
				/* Safari 4+, Chrome 1+ */
				background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#005cad), to(#3aad00));
				/* Safari 5.1+, Chrome 10+ */
				background-image: -webkit-linear-gradient(#005cad, #3aad00); 
				/* Opera 11.10+ */
				background-image: -o-linear-gradient(#005cad, #3aad00);
				background-repeat: no-repeat;
				background-position: center;
    			float: right;
    			clear: both;
    			color: #fff;
    			width: 10em;
    			height: 3em;
    			margin: 2px 0;
    			font-size: 0.8em;
					}
			.button:hover {
				border: 1px solid #3aad00;
    			/* fallback color */
				background-color: #006; 
				/* fallback image */
				background-image: url("images/gradient.jpg");
				/* Firefox 3.6+ */
				background-image: -moz-linear-gradient(#3aad00, #005cad);
				/* Safari 4+, Chrome 1+ */
				background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3aad00), to(#005cad));
				/* Safari 5.1+, Chrome 10+ */
				background-image: -webkit-linear-gradient(#3aad00, #005cad); 
				/* Opera 11.10+ */
				background-image: -o-linear-gradient(#3aad00, #005cad);
				background-repeat: no-repeat;
				background-position: center;
    			float: right;
    			clear: both;
    			
    				}
			p.form-text {
				color: #000a7a;
				padding: 0;
					}
			textarea#comments {
				width: 380px;
				height: 120px;
				border: 3px solid #cccccc;
				padding: 10px;
				font-family: Tahoma, sans-serif;
				background-color: #fff;
				background-position: bottom right;
				background-repeat: no-repeat;
				float: right;
				clear: both; 			
							}
				/*---------forms end---------*/
				
			#footer {
				float: left;
				clear: both;
				}
				
				
	/*---------links---------*/
	
			a:link {
				color: #002470;
				}
				
			a:visited {
				color: #000;
				}
				
			a:hover {
				color: #51e6d0;
				}
				
			a:active {
				color: #fcfc2c;
				}
				
		